@media screen and (min-width: 1000px) {
  #navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgb(79, 79, 79);
    min-width: 100%;
    min-height: 100%;
    min-height: 60px;
    border-bottom: black 3px solid;
  }
  .navBox{
    flex: 1 1 calc(33%);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .logoBox{
    justify-content: flex-start;
  }
  .navLink{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    transition: 0.25s linear;
  }
  .logoIcon{
    max-height: 40px;
    max-width: 40px;
    padding: 5px;
    border: 1px solid rgb(79, 79, 79);
    transition: all 0.35s ease-in-out;
    background-color: transparent;
    border-radius: 15px;
  }
  .logoIcon:hover{
    border: rgb(24, 24, 24) 1px solid;
  }
  .navTitle{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
  #nc1 { color: rgb(52, 134, 236) }
  #nc2 { color: rgb(40, 176, 65) }
  #nc3 { color: rgb(193, 26, 61) }
  #nc4 { color: rgb(228, 226, 45) }
  #nc5 { color: rgb(149, 85, 214) }
  #nc6 { color: white }
}
